<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    nono motherfucker
    
</body>
<%- include('./partials/footer.ejs')  %> 

</html>