<a id="exportJSON" onclick="exportJson(this);" class="btn"><i class="icon-download"></i> <button>Download JSON</button></a>




<script>

function exportJson(el) {

  // const my_labels = "<%= date_labels %>".split(",");
  // const my_values = "<%= values %>".split(",");
  var downl = "<%= JSON.stringify(down) %>"
  const j = downl.replace(/&#34;/g,'"')
  const final = j.slice(1, -1);
  //var data = { foo: "500", bar: "sample" };
  // var obj = {
  //       a: 123,
  //       b: "4 5 6"
  //   };
    var data = "text/json;charset=utf-8," + encodeURIComponent(final);
    // what to return in order to show download window?

    el.setAttribute("href", "data:"+data);
    el.setAttribute("download", "myData.json");    
}
</script>



