<!--<a href="http://localhost/microservice03/CrossBorderFlow/>,">
    <button>Download</button>
  </a> -->
<!--<button type="button" onClick="downloadjson()">Download</button>-->
<!--<button type="button" onClick="downloadcsv()">Download</button>-->

<!--<script>
  function downloadjson() {
    location.href = location.href + "&DownloadJSON=json"
    //location.href = "http://localhost:7002/upload"
    }            

</script>-->

<a id="exportJSON" onclick="exportJson(this);" class="btn"><i class="icon-download"></i> <button>Download JSON</button></a>




<script>

function exportJson(el) {

  // const my_labels = "<%= date_labels %>".split(",");
  // const my_values = "<%= values %>".split(",");
  var downl = "<%= JSON.stringify(down) %>"
  const j = downl.replace(/&#34;/g,'"')
  const final = j.slice(1, -1);
  //var data = { foo: "500", bar: "sample" };
  // var obj = {
  //       a: 123,
  //       b: "4 5 6"
  //   };
    var data = "text/json;charset=utf-8," + encodeURIComponent(final);
    // what to return in order to show download window?

    el.setAttribute("href", "data:"+data);
    el.setAttribute("download", "myData.json");    
}
</script>

<!--<script>
  
  const myObj = {"name":"John", "age":30, "car":null};


  function downloadjson() {
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(myObj));
    var dlAnchorElem = document.getElementById('downloadAnchorElem');
    dlAnchorElem.setAttribute("href",     dataStr     );
    dlAnchorElem.setAttribute("download", "myData.json");
    dlAnchorElem.click();
  }

</script> -->
<!--<pre id="myText" ></pre>
<pre id="myText2" ></pre>

  <script>
    var data = { foo: 500, bar: "sample" };
    const downl = "<%= down %>".split(",")

   // document.getElementById("myText").innerHTML = data
    document.getElementById("myText").innerHTML = JSON.stringify(data)
    document.getElementById("myText2").innerHTML = downl
    
  </script> -->


