<!--<a href="http://localhost/microservice03/CrossBorderFlow/>,">
    <button>Download</button>
  </a> -->
<button type="button" onClick="downloadjson()">Download</button>
<!--<button type="button" onClick="downloadcsv()">Download</button>-->

<script>
  function downloadjson() {
    location.href = location.href + "&DownloadJSON=json"
    }            
</script>


